body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #6CBB23;
}

hr.light {
  border-color: #fff;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.obvious {
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #6CBB23;
}

a.a-primary {
  color: #6CBB23;
}

a.a-primary:hover {
  color: #212529;
}

a.a-secondary {
  color: #FFFFFF;
}

a.a-secondary:hover {
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

.bg-primary {
  background-color: #6CBB23 !important;
}

.bg-dark {#212529;
  background-color: #212529 !important;
}

.text-primary {
  color: #6CBB23 !important;
}

.text-secondary {
  color: #212529;
}

.text-light {
  color: #f2f2f2;
}

.text-dark {
  color: #212529;
}

.text-muted {
  color: rgba(255, 255, 255, 0.7);
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/*------------------------------------------------------------------- 
 * ++ Übergange (aus Exclusivity)
 *-------------------------------------------------------------------*/

.hdbc-transition {
  position: relative;
  overflow: hidden; }
  .hdbc-transition:after {
    width: 120%;
    height: 200px;
    left: -10%;
    background: #6CBB23;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    bottom: -100px; }
    @media screen and (max-width: 960px) {
      .hdbc-transition:after {
        bottom: -150px; } }
    @media screen and (max-width: 768px) {
      .hdbc-transition:after {
        bottom: -170px; } }
  .hdbc-transition.hdbc-transition-white:after {
    background: #fff; }
  .hdbc-transition.hdbc-transition-dark:after {
    background: #212529; }

.hdbc-section,
.hdbc-footer {
  padding: 2em 0 13em 0; }
  @media screen and (max-width: 1200px) {
	.hdbc-section, .hdbc-footer { padding: 2em 0 11em 0; } }
  @media screen and (max-width: 992px) {
	.hdbc-section, .hdbc-footer { padding: 3em 0 8em 0; } }
  @media screen and (max-width: 768px) {
	.hdbc-section, .hdbc-footer { padding: 4em 0 6em 0; } }
  @media screen and (max-width: 576px) {
	.hdbc-section, .hdbc-footer { padding: 3em 0 6em 0; } }
  .hdbc-section.hdbc-slant,
  .hdbc-footer.hdbc-slant {
    padding: 7em 0 22em 0; }
  .hdbc-section .hdbc-heading,
  .hdbc-footer .hdbc-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .hdbc-section .hdbc-heading,
      .hdbc-footer .hdbc-heading {
        font-size: 30px; } }
  .hdbc-section.bg-light,
  .hdbc-footer.bg-light {
    background: #f2f2f2 !important; }
	
/*------------------------------------------------------------------- 
 * ## Navigation
 *-------------------------------------------------------------------*/

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #6CBB23;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus {
  color: #6CBB23;
}

#mainNav .navbar-brand:hover {
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #6CBB23;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #6CBB23 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand, #mainNav .navbar-brand:focus {
    color: #6CBB23;
  }
  #mainNav .navbar-brand:hover {
    color: #212529;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #6CBB23;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand,  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #6CBB23;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #6CBB23;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #6CBB23;
  }
}

/*------------------------------------------------------------------- 
 * ## Header
 *-------------------------------------------------------------------*/

header.masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 75vw;
  min-height: 400px; 
  max-height: 100vh;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
  color: #212529;
}

@media (min-width: 992px) {
  header.masthead {
	max-height: 100vh;
	background-position: center center;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
  }
}

.masthead-heading {
	background-color: rgba(255, 255, 255, 0.7);
}

/*------------------------------------------------------------------- 
 * ## Über uns
 *-------------------------------------------------------------------*/

/* ------------------------------------------------------------------- 
 * ## Das Haus
 * -------------------------------------------------------------------*/

.haus-media {
	height: 100%;
	position: relative;
}

/* ------------------------------------------------------------------- 
 * ## Angebote
 * -------------------------------------------------------------------*/

/*------------------------------------------------------------------- 
 * #### Regelmäßige Freizeitangebote
 *-------------------------------------------------------------------*/
 
.regfr-media {
	height: 100%;
	background: #FFFFFF;
}

.regfr-media:before {
    width: 0; 
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 15px; 
    border-top: 50px solid #6CBB23; 
    border-left: 50px solid #ffffff; 
}

.regfr-hr {
	max-width: 80%;
	border-width: 2px;
	border-color: #6CBB23;
	
}
 
/*------------------------------------------------------------------- 
 * #### Freizeitangebote nach Vereinbarung
 *-------------------------------------------------------------------*/
 
/*------------------------------------------------------------------- 
 * #### Dienstleistungen
 *-------------------------------------------------------------------*/
 
.dienste-media {
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	border-color: #FFFFFF;
	height: 100%;
}

/* ------------------------------------------------------------------- 
 * ## RAGH
 * ------------------------------------------------------------------- */

ul.ragh {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li.ragh {
  padding-left: 1em;
  text-indent: -1em;
}

li.ragh:before {
  content: "...";
  padding-right: 5px;
}

/* ------------------------------------------------------------------- 
 * ## contact
 * ------------------------------------------------------------------- */
.contact-list {
    margin-top: 0rem;
}

.contact-list .contact-subheading {
	text-align: left;
}

.contact-list .contact-item {
    margin-bottom: 1em;
	margin-top: 2em;
}

/* ------------------------------------------------------------------- 
 * ## footer
 * ------------------------------------------------------------------- */
footer .totop {
      font-size: 20px;
      margin-bottom: 20px;
      color: #6CBB23;
  }
  
footer {
      padding: 20px 50px;
  } 

 /* ------------------------------------------------------------------- 
 * ## buttons
 * ------------------------------------------------------------------- */ 
  .btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
 
 .btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #6CBB23;
  border-color: #6CBB23;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
   
/* ------------------------------------------------------------------- 
 * ## contact
 * ------------------------------------------------------------------- */
/* .portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
} */